<div class="sidebar">
    <div class="logo">
        <img src="/media/logo7.png" alt="Logo" class="logo">
        <div class="logo-text">GSFCS</div>
    </div>
    
    <a href="{% url 'school-index' %}" class="menu-item">
        <span>Dashboard</span>
        <i class="fa-solid fa-table-columns"></i>
    </a>
    <a href="{% url 'school-addadmin' %}" class="menu-item">
        <span>Add Admin</span>
        <i class="fas fa-users"></i>
    </a>
    <a href="{% url 'school-addschool' %}" class="menu-item">
        <span>Add School</span>
        <i class="fa-solid fa-school"></i>
    </a>
    <a href="{% url 'school-viewitems' %}" class="menu-item">
        <span>View items</span>
        <i class="fa-solid fa-toolbox"></i>
    </a>
    <a href="{% url 'school-maintanance2' %}" class="menu-item">
        <span>Request</span>
        <i class="fa-solid fa-screwdriver-wrench"></i>
    </a>
    <a href="{% url 'school-payment' %}" class="menu-item">
        <span>Payment</span>
        <i class="fa-solid fa-money-check-dollar"></i>
    </a>
    <a href="{% url 'school-viewannouncement' %}" class="menu-item">
        <span>Announcement</span>
        <i class="fa-regular fa-clipboard"></i>
    </a>
    
    <div class="footer">
        <a href="{% url 'district-profile' %}" class="menu-item">
            <span>Profile</span>
            <i class="fa-regular fa-user"></i>
        </a>
        <a href="{% url 'district-login' %}" class="menu-item">
            <span>Logout</span>
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
    </div>
</div>
